<div class="my-4">
  <input class="form-control"
         type="search"
         placeholder="Rechercher un livre..."
         aria-label="Rechercher un livre"
         [(ngModel)]="_searchText" />
</div>

<ng-container *ngIf="_books$ | async as books; else loadingTemplate">
  <app-book-card *ngFor="let book of books | searchBooks: _searchText"
                 [book]="book"
                 [quantity]="getShoppingCartItemQuantity(book.isbn) | async"
                 (addToCart)="onAddToCart(book)"
                 (removeFromCart)="onRemoveFromCart(book)">
  </app-book-card>
</ng-container>

<ng-template #loadingTemplate>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
