.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.margin--sm {
  margin: 5px;
}

.margin--md {
  margin: 10px;
}

.margin--lg {
  margin: 15px;
}

.margin--horizontal--sm {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin--horizontal--md {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin--horizontal--lg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.padding--sm {
  padding: 5px;
}

.padding--md {
  padding: 10px;
}

.padding--lg {
  padding: 15px;
}
